.App {
  text-align: center;
}
.graph {
  width: 80%;
  /* border: 1px solid black; */
  margin: auto;
  padding: 20px 0;
}
.graph > div > div > canvas {
  width: 100% !important;
}

@media screen and (max-width: 768px) {
  .graph {
    width: 98%;
  }
}
